* {
    text-align: center;
}
table {
    width: 50%;
        border: 2px black solid;
            border-collapse: collapse;
            margin: auto;
}
 th{
    border: 1px black solid;
    padding: 5px;
    border-collapse: collapse;
}

 td{
    border: 1px black solid;

}
